# {{ ansible_managed }}

[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://kubernetes.io/docs

[Service]
ExecStart=/usr/local/bin/kube-proxy \
  --config=/etc/kubernetes/kube-proxy/kube-proxy-config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
