apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', '{{ k8s_pki_dir }}/k8s-ca.crt') | b64encode }}
    server: https://127.0.0.1:6443
  name: k8s-the-hard-way
contexts:
- context:
    cluster: k8s-the-hard-way
    user: default-manager
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default-manager
  user:
    client-certificate-data: {{ lookup('file', '{{ k8s_pki_dir }}/kube-scheduler.crt') | b64encode }}
    client-key-data: {{ lookup('file', '{{ k8s_pki_dir }}/kube-scheduler.key') | b64encode }}
